body
	overflow-x: hidden
/* GENERAL */
.is-link
	position: relative
	transition: all $speed $easing
	&:after
		content: ''
		width: 0%
		transition: all $speed $easing
		position: absolute
		bottom: 0
		left: 0
		height: 1px
		background: $primary
	&:hover
		color: $primary
		transition: all $speed $easing
		&:after
			content: ''
			width: 100%
			transition: all $speed $easing

.main-container
	// opacity: 0

.main-loader
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	// background-image: url(../../public/images/background/loader@2x.png)
	// background-size: 100% auto
	// background-position: center center
	// background-repeat: no-repeat
	// -webkit-clip-path: circle(49.2% at 50% 50%)
	// clip-path: circle(49.2% at 50% 50%)
	z-index: 4900
	display: none

.background-loader
	position: fixed
	top: 0
	left: 0
	transform-origin: 50% 50%
	width: 100%
	height: 100%
	background-color: $primary
	z-index: 4800
	display: flex
	align-items: center
	justify-content: center
	background-color: $grey-darker
	background-image: url(../images/patterns/stars.svg)
	background-attachment: fixed
	background-size: 1280px auto
	background-repeat: repeat

.background-loader-content
	text-align: center
	img
		margin: 0 auto
		max-width: 180px
		width: 80%
		+desktop
			max-width: 320px

.hero
	position: relative
	height: 110vh
	max-height: 680px
	width: calc(100% + 400px)
	margin-left: -200px
	+tablet
		max-height: 1200px
		height: 200vh

	+fullhd
		max-height: 1400px


.parallax-background
	position: absolute
	top: 0
	width: 100%
	left: 0
	height: 100%

[data-parallax-1]
	z-index: 1
	background-repeat: no-repeat
	background-size: 100% auto
	background-position:  center 48px
	background-color: $white

[data-parallax-2]
	z-index: 20
	background-repeat: no-repeat
	background-size: 100% auto
	background-position: center 0


[data-parallax-3]
	z-index: 30
	background-repeat: no-repeat
	background-size: 100% auto
	background-position: center 90%
	+tablet
		background-position: center 85%


[data-parallax-4]
	z-index: 40
	background-repeat: no-repeat
	background-size: 100% auto
	background-position: bottom center

[data-parallax-5]
	z-index: 50

[data-parallax-6]
	z-index: 40
	background-repeat: repeat
	background-size: 28p 52px
	background-position: bottom center

.brand
	position: absolute
	top: 60%
	left: 45%
	margin-left: -240px
	margin-top: -130px
	width: 480px
	text-align: center
	padding: 32px 0
	z-index: 50


.advent-section
	// padding-bottom: 180px
	padding-top: 180px
	background-color: $grey-darker
	background-image: url(../images/patterns/stars.svg)
	background-attachment: fixed
	background-size: 1280px auto
	background-repeat: repeat
	margin-top: -40px
	position: relative
	+desktop
		padding-top: 280px
		margin-top: -100px

	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 480px
		background: $grey-darker
		// background: -moz-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(0,0,0,0) 100%)
		// background: -webkit-linear-gradient(top, rgba(36,36,36,1) 0%,rgba(0,0,0,0) 100%)
		// background: linear-gradient(to bottom, rgba(36,36,36,1) 0%,rgba(0,0,0,0) 100%)
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#00000000',GradientType=0 )
		z-index: 200

.transform-container
	transform: translateY(0)
	+desktop
		transform: translateY(280px)

.footer
	background-color: $grey-darker


.advent-intro
	color: #FFFFFF
	z-index: 300
	position: relative
	// margin-bottom: 200px
	margin-bottom: 2rem
.tbnt
	margin-bottom: 3rem
	span:first-child
		margin-right: 1rem

.advent
	margin-bottom: 16px
	img
		max-width: 255px

.sketch
	display: flex
	align-items: center
	span
		padding-right: .5rem
		display: inline-block

	span:nth-child(2)
		display: inline-block
		width: 100px

.advent-items
	display: flex
	flex-wrap: wrap
	position: relative
	z-index: 3200
	+desktop
.advent-item-container
	width: 100%

	+desktop
		width: 50%
		&:nth-child(odd)
			padding-right: 4rem
			transform: translateY(-280px)
		&:nth-child(even)
			padding-left: 4rem

.advent-item-fake
	display: none
	opacity: 0
	visibility: hidden
	+desktop
		display: block

.advent-item
	width: 100%
	height: 302px
	background-repeat: repeat
	margin-bottom: 200px
	box-shadow: 0 30px 70px rgba(0,0,0,.5)
	background-size: 40px 100%
	border-radius: 8px
	display: flex
	flex-wrap: nowrap
	overflow: hidden
	z-index: 6000

	&.is-past
		background-color: #232323
		// background-color: rgba($purple-light, 1)
		// background-image: url(../images/patterns/pattern-past.png)

	&.is-present
		background-color: rgba($purple-light, 1)
		background-image: url(../images/patterns/pattern-past.png)
		box-shadow: 0  0 90px rgba($primary, 1)

	&.is-futur
		background-color: rgba($purple, 1)
		background-image: url(../images/patterns/pattern-futur.png)
		.advent-image
			display: none
		.advent-content
			width: 100%

	&.is-inverse
		.advent-content
			text-align: left
		.advent-image
			background-position: right center

	.advent-info
		width: 100%

	.advent-content
		width: 50%
		display: flex
		align-items: center
		flex-wrap: wrap
		padding: 1rem
		text-align: right
		+tablet
			padding: 2rem

	.advent-date
		font-weight: bold
		margin-bottom: .5rem
		font-size: $size-5

	.advent-title
		font-size: $size-5
		margin-bottom: 3rem

	.advent-image
		width: 50%
		// background-size: auto 100%
		background-size: contain
		background-repeat: no-repeat
		background-position: left center

	.advent-download
		position: relative
		transition: all $speed $easing
		&:after
			content: ''
			width: 0%
			transition: all $speed $easing
			position: absolute
			bottom: 0
			left: 0
			height: 1px
			background: $white
		&:hover
			color: $white
			transition: all $speed $easing
			text-shadow: 0 0 28px rgba($grey-dark, 1)
			&:after
				content: ''
				width: 100%
				transition: all $speed $easing

